{% extends 'base.html' %}
{% block content %}
{% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card my-5">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Forgot your password???</h2>
                        <form method="POST"  action="{% url 'forgot_password' %}" novalidate>
                            {% csrf_token %}
                            <input type="email" value="continue" name="email" placeholder="enter your email ">
                            <button type="submit" class="btn btn-danger btn-block mt-4">Reset password</button>
                        </form>
                        <ul class="error-list">
                            {% for field in form %}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <li class="error" style="color: red">{{ error }}</li>
                                    {% endfor %}

                                {% endif %}
                            {% endfor %}
                            <li class="error"
                                style="color: red">{{ form.non_field_errors }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
