{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success show-notification" role="alert" style="z-index: 999">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var alertMessages = document.querySelectorAll('.alert');
        alertMessages.forEach(function(alert) {
            setTimeout(function() {
                alert.remove();
            }, 5000);  //in milliseconds
        });
    });
</script>
